/* photos all from https://picsum.photos */
/* variables for example main colour scheme for the page */
:root {
    --background-color-main: darkgrey;
    --background-color-secondary: gray;
    --text-color-main: black;
    --text-color-secondary: var(--background-color-secondary);
}


/* don't know what this means but could be useful in the future */
/* set content highlight color and background */
/* ::selection {
    background-color: var(--bright-turquoise);
    color: var(--outer-space);
  } */

/* set 1rem to 10px to easily find values for the rest of the page (ie. 1.5rem is 15px, 2.0rem is 20px, etc.) */
html {
    font-size: 62.5%;
}

/* settings for the entire document (1 step below root/html) */
*{
    padding: 0;
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* Other settings for the whole document */
body{
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.6rem;
    line-height: 1.2rem;
    color: var(--text-color-main);
    background-color: lightgray;
}

/* base/universal h values */
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: 0.75rem;
    color: var(--text-color-secondary);
    font-weight: 700;
    line-height: 1.1rem;
}

/* specific text values */
h1 {
    color: var(--text-color-main);
    font-size: 4rem;
}

h2 {
    color: var(--text-color-main);
    font-size: 3.5rem;
}

h3 {
    color: var(--text-color-secondary);
    font-size: 3rem;
}

h4 {
    color: var(--text-color-main);
    font-size: 2rem;
}

h5 {
    font-size: 2rem;
}

h6 {
    font-size: 1.5rem;
}

p {
    /* font-size: 1rem; -DON'T NEED TO SPECIFY- */
    margin-bottom: 1rem;
}

/* Header and components */
header {
    background-color: var(--background-color-secondary);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 8rem;
}

/* put background on main h1 */
.main-heading {
    display: flex;
    background-color: var(--background-color-main);
    height: 4.5rem;
    padding: 0 1rem;
}

.main-heading h1 {
    display: flex;
    align-items: center;
}

/* to give direction row */
.links ul {
    margin-right: 5rem;
    display: flex;
}

.links li {
    padding: 1.5rem;
    list-style-type: none;
}

.links a {
    text-decoration: underline;
    color: var(--text-color-main);
}

/* Hero */
.hero-image {
    background-image: url("https://fastly.picsum.photos/id/41/1280/805.jpg?hmac=W9CWeYdlZisqEfhjuODl83T3lCXAqjUZrOe9iMFPYmI");
    background-color: var(--background-color-secondary);
    height: 40rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero-title {
    display: flex;
    flex-direction: row-reverse;
    position: relative;
    top: 35rem;
}

.hero-title h2 {
    display: flex;
    align-items: center;
    background-color: var(--background-color-main);
    height: 3.5rem;
    padding: 0 0.5rem;
}

/* main */


/* set the sections to take up the remainder of the space */


/* making imgs take all available space in the sections */
aside img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

/* making textboxes overlay imgs plus styling */
.project {
    position: relative;
    border: 1rem solid var(--background-color-main);
    margin: 4rem;
}

.textbox {
    position: absolute;
    bottom: 10rem;
    z-index: 2;
    background-color: var(--background-color-main);
}

/* footer although as I was following the mockup it's actually part of the body */
.row {
    display: flex;
}

.left-col {
    /* text-align: right; */
    width: 20%;
    /* display: flex;
    justify-content: flex-end; */
    /* border-right: 1rem solid var(--background-color-secondary); */
}

.right-col {
    width: 80%;
}

footer ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 0 10rem 0 10rem;
}

/* @media screen and (min-width: 992px) {
    .sections {
        flex: 0 0 50%;
        max-width: 50%;
    }
} */

/* photos all from https://picsum.photos */
/* variables for example main colour scheme for the page */
/* :root {
    --background-color-main: lightgrey;
    --background-color-secondary: darkgrey;
    --text-color-main: black;
    --text-color-secondary: var(--background-color-secondary);
} */


/* don't know what this means but could be useful in the future */
/* set content highlight color and background */
/* ::selection {
    background-color: var(--bright-turquoise);
    color: var(--outer-space);
  } */

/* set 1rem to 10px to easily find values for the rest of the page (ie. 1.5rem is 15px, 2.0rem is 20px, etc.) */
/* html {
    font-size: 62.5%;
} */

/* settings for the entire document (1 step below root/html) */
/* *{
    padding: 0;
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
} */

/* Other settings for the whole document
body{
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.6rem;
    line-height: 1.2rem;
    color: var(--text-color-main);
    background-color: whitesmoke;
} */

/* base/universal h values */
/* h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: 0.75rem;
    color: var(--text-color-secondary);
    font-weight: 700;
    line-height: 1.1rem;
} */

/* specific text values */
/* h1 {
    color: var(--text-color-main);
    font-size: 4rem;
}

h2 {
    color: var(--text-color-main);
    font-size: 3.5rem;
}

h3 {
    color: var(--text-color-secondary);
    font-size: 3rem;
    border-right: 1rem solid var(--background-color-secondary);
    width: 20%;
    text-align: right;
}

h4 {
    color: var(--text-color-main);
    font-size: 2rem;
}

h5 {
    font-size: 2rem;
}

h6 {
    font-size: 1.5rem;
}

p { */
    /* font-size: 1rem; -DON'T NEED TO SPECIFY- */
    /* margin-bottom: 1rem;
} */

/* Header and components */
/* header {
    background-color: var(--background-color-secondary);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 8rem;
} */

/* put background on main h1 */
/* .main-heading {
    display: flex;
    background-color: var(--background-color-main);
    height: 4.5rem;
    padding: 0 1rem;
}

.main-heading h1 {
    display: flex;
    align-items: center;
} */

/* to give direction row */
/* .links ul {
    margin-right: 5rem;
    display: flex;
}

.links li {
    padding: 1.5rem;
    list-style-type: none;
}

.links a {
    text-decoration: underline;
    color: var(--text-color-main);
} */

/* Hero */
/* .hero-image {
    background-image: url("https://fastly.picsum.photos/id/41/1280/805.jpg?hmac=W9CWeYdlZisqEfhjuODl83T3lCXAqjUZrOe9iMFPYmI");
    background-color: var(--background-color-secondary);
    height: 40rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero-title {
    display: flex;
    flex-direction: row-reverse;
    position: relative;
    top: 35rem;
}

.hero-title h2 {
    display: flex;
    align-items: center;
    background-color: var(--background-color-main);
    height: 3.5rem;
    padding: 0 0.5rem;
} */

/* main */

/* leave bar on the left position relative to give absolute to text */
/* section {
    position: relative;
    padding: 1rem;
    /* margin: 0 0 3rem 20%; */
    /* border-left: 1rem solid var(--background-color-secondary); */
/* } */

/* put h3s in the bar */
/* .align {
    position: absolute;
} */

/* .sections h3 { */
/* position: absolute;
text-align: right; */
/* right: 102%; */
/* } */

/* set the sections to take up the remainder of the space */
/* . */
/* work { why? */
/* display: flex;
flex-wrap: wrap;
flex-grow: 1;
max-width: 100%;
width: 100%; */
/* why? */
/* box-sizing: border-box;
transition: flex-basis 500ms linear;
} */

/* making imgs take all available space in the sections */
/* aside img {
    object-fit: cover;
    width: 100%;
    height: 100%;
} */

/* making textboxes overlay imgs plus styling */
/* .project {
    position: relative;
    border: 1rem solid var(--background-color-main);
    margin: 4rem;
}

.textbox {
    position: absolute;
    bottom: 10rem;
    z-index: 2;
    background-color: var(--background-color-main);
} */

/* footer although as I was following the mockup it's actually part of the body */
/* footer ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 0 10rem 0 10rem;
} */

/* @media screen and (min-width: 992px) {
    .sections {
        flex: 0 0 50%;
        max-width: 50%;
    }
} */